 /*Menu navegacion*/
 header {
    background-image: url(../assets/banner-fondo.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0; /* Ajusta el padding para controlar la altura del header */
    text-align: center;
    h1 {
        font-size: 3em; /* Ajusta el tamaño de la fuente del título */
    }

}


  
