//Variables mas comunes
$fuente: 'Kanit',sans-serif;
$color-h2: #007bff;
$color-fondo: #ffffff;
$alineacion: center;
$color-gradienteinicio: #3896fa;
$color-gradientefin: #020a4e;
$background-image: url('../assets/logo3.png');
$banner-image: url(../assets/banner-fondo.jpg);
$size-textosecundario: 1.2rem;
$color-textosecundario: #6c757d;

//map-get

$size-titulo:(
    titulo1: 2rem,
    titulo2: 1.5rem,
    titulo3: 1.2rem,
    titulo4: 1rem,

);